<div class="container">
 
<!-- First Band (Slider) -->
 
 <section class="main-block" id="first">
 	<div class="row">
 		<div class="row">
            <div class="large-3 columns logo-container">
              <h1 class="logo">Outbox</h1>
            </div>
            <div class="large-9 columns top-links-container">
              <ul class="right button-group top-links">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
       </div>
		<div class="large-12 large-centered columns hero">
			<h1>The Missing Contacts App.</h1>
			<!-- <h1>The Ultimate Outbox for iOS.</h1> -->
			<h3>Outbox is a cloud based contact list with superpowers that will rule the world.</h3>
			<form class="signup-form">
				<input type="text" placeholder="Get Notified" class="signup" />
			</form>
			<div class="phone">
				<div class="screen"><a href="#"></a></div>
			</div>
		</div>
 	</div>
 </section>
 <section class="main-block" id="second">
 	<div class="row feature">
 		<div class="large-5 small-push-12 columns large-phone">
 			<div class="large-screen"><a href="#"></a></div>
 		</div>
 		<div class="large-7 small-pull-12 columns feature-description">
 			<h1>As easy as swiping.</h1>
 			<p>Swipe left to call, email or text a contact. Swipe right for custom options and settings.</p>
 			<div class="gesture">
 				<img src="/images/swipe.png"/>
 			</div>
 		</div>
 	</div>
 </section>
 <section class="main-block" id="third">
 	<div class="row feature">
 		<div class="large-7 small-pull-12 columns feature-description">
 			<h1>Power of Groups.</h1>
 			<p>Swipe left to call, email or text a contact. Swipe right for custom options and settings.</p>
 			<div class="gesture">
 				<img src="/images/swipe.png"/>
 			</div>
 		</div>
 		<div class="large-5 small-push-12 columns large-phone">
 			<div class="large-screen"><a href="#"></a></div>
 		</div>
 	</div>
 </section>
 <section class="main-block" id="fourth">
 	<div class="row feature">
 		<div class="large-5 small-push-12 columns large-phone">
 			<div class="large-screen"><a href="#"></a></div>
 		</div>
 		<div class="large-7 small-pull-12 columns feature-description">
 			<h1>Check it out.</h1>
 			<p>Swipe left to call, email or text a contact. Swipe right for custom options and settings.</p>
 			<div class="gesture">
 				<img src="/images/swipe.png"/>
 			</div>
 		</div>
 	</div>
 </section>
 <section class="main-block" id="fifth">
 	<div class="row feature">
 		<div class="large-6 columns feature-description">
 			<h1>Plugins for days.</h1>
 			<p>Swipe left to call, email or text a contact. Swipe right for custom options and settings.</p>
 			<div class="gesture">
 				<img src="/images/swipe.png"/>
 			</div>
 		</div>
 		<div class="large-6 columns large-phone">
 			
 		</div>
 	</div>
 </section>
 <section class="main-block" id="sixth">
 	<div class="row quotes">
 		<div class="large-12 large-centered columns">
 			<span class="quotation-mark">&#8220</span>
 			<p>"I'm already so addicted to this app that I can't go to the bathroom without it. It's how the contacts app should look on iOS. Not to mention that the design is top notch."</p>
 			<img src="http://files.parse.com/f7f7880e-87cf-464e-b687-169c51d78235/e73e03ed-22e9-453a-92f6-453ab7c60398-Image.jpg"/>
 		</div>
 	</div>
 </section>

</div>